// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "stack";
@import "typography";
@import "sections/sections";

body {
  background: $dark;
}

.page {
  background: $white;
}

section {

  position: relative;

  &.space {

    &--none {
      padding: 0;
    }

    &--sm {
      padding: 25px 0;
    }

    &--md {
      padding: 50px 0;
    }

    &--lg {
      padding: 100px 0;
    }

    &--xlg {
      padding: 200px 0;
    }

  }

  &.bg-effect {
    &--ken-burns{
        overflow: hidden;
      & > .background-image-holder,
      & > img:only-child {
        animation: kenBurns 15s ease alternate infinite;
        -webkit-animation: kenBurns 15s ease alternate infinite;
      }
    }
  }

}



.space-below {

  &--none {
    margin-bottom: 0;
  }

  &--sm {
    margin-bottom: 25px;
  }

  &--md {
    margin-bottom: 50px;
  }

  &--lg {
    margin-bottom: 100px;
  }

  &--xlg {
    margin-bottom: 200px;
  }

}

.flippable {
  display: flex;
  align-items: center;

  &__text {
    order: 1;
  }

  &__image {
    order: 2;

    @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
    }
  }


  &--flip {
    .flippable__text {
      order: 2;
    }

    .flippable__image {
      order: 1;

    }
  }

  @include media-breakpoint-down(sm) {
    &__text {
      order: 2;
    }

    &__image {
      order: 1;
    }
  }
}

.text-center {

  hr.short {
    margin-left: auto;
    margin-right: auto;
  }
}

.buttons {
  margin-top: 20px;
}

.btn {
  font-size: 0.875em;
  font-weight: 700;
  font-family: $font-opensans;
  color: $primary;
  padding: 1rem 1.875rem;
  border-radius: 3px;
  transition: 0.2s;

  &--solid {
    background: $primary;
    color: $white;

    &:hover {
      background: darken($primary, 10%);
      color: $white;
    }
  }

  &--outline {
    background: transparent;
    color: $primary;
    border: 1px solid $primary;

    &:hover {
      background: $primary;
      color: $white;
      border: 1px solid $primary;

    }
  }

  &--link {
    background: transparent;
    color: $primary;

    &:hover {
      color: darken($primary, 10%);
    }

    &:focus {
      box-shadow: none;
    }

    &:first-of-type {
      padding: 0.8em 0em;
    }
  }

}

.link {
  background: transparent;
  color: $primary;
  font-size: 0.825em;
  font-weight: 700;
  font-family: $font-opensans;
  text-transform: uppercase;

  &:hover {
    color: darken($primary, 10%);
  }

  &:focus {
    box-shadow: none;
  }
}

.bg {

  &--none {
    background-color: #fff;
  }

  &--light {
    background-color: $light;
  }

  &--dark {
    background-color: $dark;
    *{
      color: #fff;
    }
  }

  &--primary {
    background-color: $primary;

    *{
      color: #fff;
    }
    
    
    .btn--solid {
      background-color: darken($primary,10%);
      color: #fff;
      &:hover {
        background-color: darken($primary,20%);
      }
      &:focus {
        background-color: darken($primary,20%);
        color: #fff;
        border: 0;
      }
    }
    
  } 

}

.cta {

  &__icon {
    max-width:  96px;
  }

  &__buttons {
    text-align: right;

    .buttons {
      margin-top: 0;
    }

    @include media-breakpoint-down(sm) {
      text-align: left;
      margin-top: 30px;
    }
  }

}

.page-header {

  padding: 200px 0;
  background-color: $dark;

  &--home {
    padding: 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      min-height: 50vh;
    }
  }

  &--page {
    padding: 0;
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--blog {
    position: relative;
  }

  &__content {
    padding: 20rem 0 10rem;
  }

 
  
}

.work-tiles {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.project-thumb {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;

  @include media-breakpoint-down(sm) {
    padding-bottom: 100%;
  }

  * {
    transition: 0.2s;
  }

  &--large {
    width: 100%;

  }

  &--small {
    width: 50%;


    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__title {
  padding: 1.85714286em;
  z-index: 2;
  position: absolute;
  bottom:0;

    & * {
      color: #fff;
    }
  }

  &:hover .background-image-holder {
    transform: scale(1.1);
  }
}

.blog-feed {
  background-color: $white;
}

.blog-tile {
  display: block;
  margin-bottom: 30px;

  * {
    transition: 0.2s;
  }

  &:hover {
    text-decoration: none;
  }

  &__thumb {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;

    &:hover .background-image-holder {
      transform: scale(1.1);
    }
  }

  p {
    margin-bottom: 20px;
  }

}

.related-posts {
  background: $light;
  padding: 0 0 50px 0;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.modal-video {
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
        display: inline-block;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  @include list-unstyled();
}

.page-link {
  position: relative;
  display: block;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    z-index: 2;
    outline: 0;
    box-shadow: $pagination-focus-box-shadow;
  }

  // Opinionated: add "hand" cursor to non-disabled .page-link elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
      border-radius: 100%;
    }
  }
  &:last-child {
    .page-link {
      margin-right: 0;
      border-radius: 100%;
    }
  }

  &.active .page-link {
    z-index: 1;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}

.line{
  width:70px;
  border:0;
  height: 2px;
  background-color: $primary;
  opacity:1 !important;
  margin:auto;
}

.line--gold{
  margin:1em 0em;
}

.floatingBox{
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.floatingBox__underlay {
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
}
.heading__split{
  padding:2.5em;
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.10);
  
  svg{
    font-size:1.875rem;
    transition: 0.2s;
    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
    }
  }
  &--left{
    background-color:$primary;
    border-radius:4px 0px 0px 4px;
    @include media-breakpoint-down(sm) {
      border-radius:4px 4px 0px 0px;
    }

    *{
      color:$dark !important;
    }
  }
  &--right{
    background-color:$dark;
    border-radius:0px 4px 4px 0px;
    color:#fff;
    @include media-breakpoint-down(sm) {
      border-radius:0px 0px 4px 4px;
    }
  }
  &--title{
    text-transform:uppercase;
    font-family:$font-opensans;
    letter-spacing: 1px;
    font-size:0.875rem;
  }
  &--bottom {
    text-transform:uppercase;
    font-family:$font-opensans;
    letter-spacing: 1px;
    font-size:0.875rem;
    color:$dark!important;
  }
  h3{
    margin-bottom:0;
    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
    }
  }

  &:hover {
    svg {
      transform: translatex(10px)
    }
  }

  @include media-breakpoint-down(sm) {
    padding:1.5em;
  }
}

.split__container{
  position:absolute !important;
  bottom:0%;
  left:50%;
  transform:translateX(-50%)translateY(35%);
  z-index:4 !important;
}

.overlap__section{
  overflow:hidden;
  position:absolute;
  bottom:0px;
  width:100%;
  height:110px;
  z-index: 100;
  .layer{
    position:absolute;
    bottom:0;
    height:55px;
    width:100%;
    svg{
      width:100%;
    }
  }
  .layer--1{
    #Page-1{
      width:100%;
    }
  }
  .layer--2{
    bottom:40px;
    @include media-breakpoint-down(sm) {
      bottom:30px;
    }
  }
  .layer--3{
    bottom:80px;
    @include media-breakpoint-down(md) {
      bottom:60px;
    }
    @include media-breakpoint-down(sm) {
      bottom:50px;
    }
  }
}

.overlap__section--team{
  .layer--1{
    bottom:-10px;
    z-index:1 !important;
  }
  .layer--2{
    bottom:20px;
    z-index:0 !important;
  }
  .layer--3{
    bottom:40px;
    z-index:-1 !important;
  }
}


.portrait{
  position:absolute;
  width:10em;
  height:10em;
  border-radius:50%;
  overflow: hidden;
  left:50%;
  top:-8em;
  z-index:5;
  transform:translateX(-50%)
}

#single-wrapper{
  position:relative;
}

.team__portrait{
  position:relative;
  padding-bottom: 156.25%;
  height: 0;
  width:100%;
}

.team__blurb{
  padding:1em;
  text-align:center;
  h5{
    margin-bottom:0.5em;
  }
  .team__position{
    font-size: 0.75rem;
  }
}

.panel {

  border-top:1px solid #efefef;
  .panel-title {
    display: flex;
    justify-content: space-between;
      align-items: center;
    a {
      padding: 1.25rem;
      text-transform:uppercase;
      display: block;
      font-size: 0.75rem;
      width: 100%;
      letter-spacing:1px;
      font-family:$font-opensans;
      color:$dark;
      text-decoration:none;
      position: relative;
      padding-right: 3rem;
      &:hover {
        background-color: #efefef;
      }

      &[aria-expanded=true] {
        svg {
          transform: rotate(45deg);
        }
      }
    }
  }
  svg{
    font-size:1.2rem;
    position: absolute;
    right: 1rem;
    top: 1.25rem;
    transition: 0.2s;
    *{
      color:$primary;
    }
    }

    &:nth-last-of-type(1) {
      border-bottom:1px solid #efefef;
    }

    p:nth-last-of-type(1) {
      margin-bottom:0;
    }

    .panel-body {
      padding: 0 1.25rem;
    }
}

.blog-categories{
  display:flex;
  flex-direction:row;
  align-content: center;
  justify-content: center;
  a{
    margin:0em 1em;
  }
}

.page-header{
  position:relative;
}

.blog-tile__details{
  text-align:center;
}

.overlayLayer{
  opacity:1;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:10;
  background-color:#fff;
  pointer-events: none;
}

.internal-navigation {
  list-style: none;
  display: flex;
  justify-content: center;

  li {
    margin: 0 0.5rem;
  }
}

.blog-carousel, .gallery {
  overflow: hidden;

  .next, .prev {
    position: absolute;
    top: 50%;
    z-index: 1020;
    color: $white;
    font-size: 1.25rem;
    opacity: 0;
    transition: 0.2s;
    height: 100%;
    top: 0;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      opacity: 1!important;
    }
  }

  .next {
    right: 0;
    
  }

  .prev {
    left: 0;
  }

  &:hover {
    .next, .prev {
      opacity: 0.7;
    }
  }
}



.scroll-down {
  padding-top: 60px;
  position: absolute;
  bottom: 6rem;
}
.scroll-down span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


button.close {
  padding: 1rem;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  right: 0;
  z-index: 1;
  span {
    color: $primary;
  }
}
