@font-face {
  font-family: 'bariolbold_italic';
  src: url('../fonts/bariol/bariol_bold_italic-webfont.eot');
  src: url('bariol_bold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bariol/bariol_bold_italic-webfont.woff2') format('woff2'), url('../fonts/bariol/bariol_bold_italic-webfont.woff') format('woff'), url('../fonts/bariol/bariol_bold_italic-webfont.ttf') format('truetype'), url('../fonts/bariol/bariol_bold_italic-webfont.svg#bariolbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bariolbold';
  src: url('../fonts/bariol/bariol_bold-webfont.eot');
  src: url('../fonts/bariol/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bariol/bariol_bold-webfont.woff2') format('woff2'), url('../fonts/bariol/bariol_bold-webfont.woff') format('woff'), url('../fonts/bariol/bariol_bold-webfont.ttf') format('truetype'), url('../fonts/bariol/bariol_bold-webfont.svg#bariolbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bariolregular';
  src: url('../fonts/bariol/bariol_regular-webfont.eot');
  src: url('../fonts/bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bariol/bariol_regular-webfont.woff2') format('woff2'), url('../fonts/bariol/bariol_regular-webfont.woff') format('woff'), url('../fonts/bariol/bariol_regular-webfont.ttf') format('truetype'), url('../fonts/bariol/bariol_regular-webfont.svg#bariolregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bariolitalic';
  src: url('../fonts/bariol/bariol_regular_italic-webfont.eot');
  src: url('../fonts/bariol/bariol_regular_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bariol/bariol_regular_italic-webfont.woff2') format('woff2'), url('../fonts/bariol/bariol_regular_italic-webfont.woff') format('woff'), url('../fonts/bariol/bariol_regular_italic-webfont.ttf') format('truetype'), url('../fonts/bariol/bariol_regular_italic-webfont.svg#bariolitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


$font-bariol: 'bariolbold', serif;
$font-opensans: 'Open Sans', sans-serif;

html {
  font-size: 1rem;
  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
  margin-bottom: 20px;
  color: $navy;
  font-family: $font-bariol;
  line-height: 1.4;
  font-weight: 700;
}

h6, .h6 {
  font-size: 0.875rem;
  font-family: $font-opensans;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $primary!important;
  
}

p {
  color: $body-color;
  font-family: $font-opensans;
  line-height: 1.8;
  font-weight: 400;
}

.lead {
  color: $heading-color;
}

.page-title {
  font-size: 3.4em;
  line-height: 1em;
  position: relative;
  display: inline-block;
  z-index: 1;
  @include media-breakpoint-down(sm) {
    font-size: 2.4rem;
  }

  &:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    right: 0.4rem;
    left: -0.4rem;
    background-color: $primary;
    z-index: -1;
  }
}

ul, ol {
  font-family: $font-opensans;
}

hr {
  &.short {
    height: 3px;
    width: 70px;
    background: $primary;
    border: none;
  }
}

  .blockquote{
  p{
    font-size:1.5em;
    font-family:$font-bariol;
    &:before{
      content:'\201C';
      color:#247691;
      margin-right:2px;
    }
    &:after{
      content:'\201D';
      color:#247691;
      margin-left:2px;

    }
  }
}
  .blockquote-footer{
    padding:2em 0em;
    display:flex;
    align-items:center;
    &:before{
      content:'\2014 \2014 \2014';
      margin-right:1em;
      color:#247691;
    }
    p{
      &:before{
      content:'';
      }
      &:after{
        content:'';
      }
      font-family:$font-opensans;
      text-transform:uppercase;
      font-size:0.875em;
      b{
        color:#fff !important;
        letter-spacing: 1px;
      }
      }
    }

    small{
      font-family:$font-opensans;
      opacity:0.8;
      font-size:0.875em;
      line-height:1.375em;
    }

    a:not(.btn) {
      color: darken($primary,10%);
      transition: 0.2s;
      &:hover {
        color: $primary;
      }
    }

    .bg--white {
      p {
        color: $body-color;
      }
    }

.page {
  ul, ol {
    padding-left: 2rem;
    margin-bottom: 1rem;
  }
}