.footer {
    background: $dark;
    font-size: 0.875em;
    padding: 4rem 0;


    a {
        text-decoration: none;
        opacity: 1;
        transition: 0.2s;
        &:hover {
            opacity: 0.7;
        }
    }       


    .footer-menu {
        ul {
            list-style: none;
            text-align: center;
            margin-bottom: 1rem;
            line-height: 1.75rem;
    
            

            @include media-breakpoint-down(sm) {
                margin-bottom: 2rem;
              }

        }
    }

    @include media-breakpoint-down(sm) {
        text-align: center;
      }

}

.footer-social {
    ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        padding: 0;
        @include media-breakpoint-down(sm) {
            justify-content: center;
          }
    }
    a {
        color: $primary;
        display: flex;
        align-items: center;
        margin: 0 0.5rem;
        transition: 0.2s;
        &:hover {
            color: $dark;
        }

        svg {
            font-size: 1.25rem;
        }
    }

    

}

.footer__logo {
  max-width: 240px;
  max-height: 68px;
  opacity: 1!important;
  display: block;
  @include media-breakpoint-down(sm) {
    margin: 0 auto;
  }
}



