.listings {
    width: 34%;
    background-color: $light;
    padding: 2rem;
    top: 130px;
    height: calc( 100vh - 130px );
    position: fixed;
    overflow-x: scroll;
    z-index: 1;
    @include media-breakpoint-down(sm) {
        width: 100%;
        top: 100px;
        height: calc( 100vh - 100px );
      }
}

.map {
    position: fixed;
    width: 66%;
    right:0;
    top: 130px;
    height: calc( 100vh - 130px );
    background: $primary;
    z-index: 1;
    @include media-breakpoint-down(sm) {
       display: none;
      }
}


.listing-card {
    background-color: $white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    position: relative;

    &:hover {
        cursor: pointer;

    }
}


.acf-map {
    position: absolute;
    top: 0;
    bottom: 0;
	width: 100%;


}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

.modal-content {
    padding: 2rem!important;
    width: 90%!important;
    max-width: 30rem;
    display: block;
    border-radius: 6px;
}

.location-map {
    min-height: 200px;

    .acf-map {
        width: calc( 100% - 1rem );
    }
}